<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Tiendita Guajitos</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>

<body>

    <div class="auth-container">
        <div class="auth-header">
            <h2>Tiendita<span>-Registro</span></h2>
            <p>Crea tu nueva cuenta</p>
        </div>

        <div th:if="${error}" style="color: #ff4d4d; margin-bottom: 15px; text-align: center;">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/register/enviar-registro}" th:object="${usuario}" method="post">

            <div class="form-group">
                <label for="nombreUsuario">Nombre</label>
                <input type="text" id="nombreUsuario" th:field="*{nombreUsuario}" placeholder="Tu nombre" required>
                <div class="error-msg" th:if="${#fields.hasErrors('nombreUsuario')}" th:errors="*{nombreUsuario}"
                    style="color: #ff4d4d; font-size: 0.8rem;"></div>
            </div>

            <div class="form-group">
                <label for="apellidoUsuario">Apellido</label>
                <input type="text" id="apellidoUsuario" th:field="*{apellidoUsuario}" placeholder="Tu apellido"
                    required>
            </div>

            <div class="form-group">
                <label for="edadUsuario">Edad</label>
                <input type="number" id="edadUsuario" th:field="*{edadUsuario}" placeholder="Edad del usuario" required>
            </div>

            <div class="form-group">
                <label for="contrasena">Contraseña</label>
                <input type="password" id="contrasena" th:field="*{contrasena}" placeholder="********" required>
                <div class="error-msg" th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}"
                    style="color: #ff4d4d; font-size: 0.8rem;"></div>
            </div>

            <button type="submit" class="btn-auth">Crear Cuenta</button>

            <div class="auth-footer">
                <p>¿Ya tienes una cuenta? <a th:href="@{/login}">Inicia sesión aquí</a></p>
            </div>

        </form>
    </div>

</body>

</html>